<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
<settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
  <typeAliases>
 	 <typeAlias type ="kr.co.carmunity.member.domain.Member" alias="Membrer"/> 
 	  <typeAlias type ="kr.co.carmunity.freeboard.dmstcar.domain.dmstFreeBoard" alias="dsmtFree"/> 
 	  <typeAlias type ="kr.co.carmunity.notice.domain.Notice" alias="Notice"/> 
 	  
  </typeAliases>

	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/kor-board.xml"/>
		<mapper resource="mappers/notice.xml"/>
	</mappers>
  </configuration>